body {
    background-color: #232323;
    color: white;
    font-family: Verdana, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #191919;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space elements between edges */
    padding: 0 10px; /* Adjust padding as needed */
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    z-index: 1000;
}

.lang-select {
    display: flex;
    gap: 10px; 
    cursor: pointer;
}

.lang-select div {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lang-select .active {
    background-color: #303030;
    color: #ffffff;
}

.menu-icon {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-icon::before, .menu-icon::after, .menu-icon span {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: background-color 0.3s ease;
}
.menu-icon:hover::before,
.menu-icon:hover::after,
.menu-icon:hover span {
    background: #878686;
    height: 2px;
}

.menu {
    display: none;
    position: fixed;
    top: 40px; 
    background: #191919;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    font-size: 85%;
}

.menu a:hover {
    background: #232323;
}

.content {
    margin-top: 40px;
    transition: margin-top 0.3s ease;
    background-color: #232323;
}
.content p{
    margin-top: 2%;
}

h1 {
    display: inline-block;
    margin-right: 20px; /* Adjust margin as needed */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-projects {
    display: flex;
    align-items: center;
}

.header-projects img {
    width: 10%;
}

.profile_img{
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
    object-fit: cover;
}

.topic{
    font-size: 200%;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        align-items: center;
    }
    
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .subtittle{
        margin-bottom: 10%;
    }
    .topic {
        margin-right: 0; /* Remove the right margin when in column mode */
    }

    .profile_img {
        margin: 30px; /* Add space between the heading and the image */
    }

    h1 {
        margin-right: 0; /* Remove the right margin */
    }
    
    .project-img {
        border-radius: 15px;
    }

    .contacts-container {
        align-items: center; /* Center container items horizontally on mobile */
    }

    .contact-item {
        flex-direction: column; /* Stack icon and link vertically on mobile */
        align-items: center; /* Center icon and link horizontally */
        text-align: center; /* Center text */
    }

}

.project_icon{
    padding-bottom: 1%;
    max-width: 100%;
    height: auto;
    min-width: 50px;
    min-height: 50px; 
}

.col-sm-4 {
    display: flex;
    justify-content: center;
}

.project-container{
    background-color: #303030;
    border-radius: 15px;
    text-align: center;
}

.project-container p {
    padding-top: 5%;
    font-size: 75%;
}

.project-container > span {
    font-size: 65%;
}

.project-img {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 5%;
}

.tech-icon{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 20px;
    width: auto;
    height: auto;
    margin-left: 2%;
}


.contacts-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Space between each contact item */
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #303030;
    color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #878686;
    color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #bbb;
}

.contact-form button {
    background-color: #191919;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #303030;
}

.link-contacts{
    font-size: 85%;
    color:white;
    text-decoration: none;
}

.link-contacts:hover {
    color: #878686;
    text-decoration: none;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 1%;
}

.contacts-icon{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 20px;
    width: auto;
    height: auto;
    margin-bottom: 0.5%;   
}

.tittle-icon{
    vertical-align: middle;
    max-width: 100%;
    max-height: 40px;
    width: auto;
    height: auto;
    margin-top: 1%;   
    margin-left: 1.5%;   
}

.flex-container {
    margin-top: 3%;
    display: flex;
    align-items: center;
    text-align: center;
}

.subtittle{
    margin-bottom: 0.5%;
}

.contacts-container {
    display: flex;
    align-items: center;
    gap: 10px;
}